<!-- <div class="container flex-1 bg-black mx-auto">
    <div class="container mx-auto bg-black-700">
        <img src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt=""
        height="50" width="50">
        <button class="bg-red-700">Hla</button>
    </div>
</div> -->
<header>
    <!-- Background image -->
    <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
      background-position: 50%;
      background-image: url('https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png');
      height: 250px;
    ">
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.65)">
        <div class="flex justify-center items-center h-full">
          <div class="text-center text-white px-6 md:px-12">
            <h1 class="text-5xl font-bold mt-0 mb-6">Data Binding</h1>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>